*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#ico{
    display: flex;
    margin: 20px 0px 10px 30px ;
}

#opt{
    display: flex;
    padding-right: 40px;
}

#opt h3{
    font-weight: 150;
    margin: 20px 0px 10px 30px ;
} 

#opt span{
    margin-left: 8px;
    color: grey;
}

.circl{
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
#nav2{
    height: 60px;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    justify-items: space-around;
}

#nav2 p{
    margin: 10px 30px 10px 35px ;
}

#content{
    width: 100%;
    height: calc(100% - 130px);
}

#tx_cont{
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.elem h1{
    font-size: 8em;
    font-family: 'Montserrat', sans-serif;
}

#tx_cont::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}

#tx_cont::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#pic{
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#pic::-webkit-scrollbar{
    display: none;
}

#pic img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}